.container{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.ima{
    
        background-image: url(../images/bg1.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100%;
        opacity: 50%;
    
}

body{
    background-image: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}