/* *{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    background-image: url(../images/bg1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}
nav{
    background: rgb(14, 13, 58);
    position: fixed;
    
}
.navbar-brand img{
    display: block;
    margin-left: 30px;
}
.navbar-nav{
    float: right;
    padding-left: 40px;
}
.navbar-nav .nav-link{
    text-align: right;
    color: aliceblue;
    float: right;
    padding: 10px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0 10px;
}
.clr{
    clear: both;
}
.foot{
    background: rgb(25, 24, 41);
    color: aliceblue;
    margin-top: 10px;
    padding: 5px;
}
.foot p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}







*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    background-image: url(../images/bg1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}
nav{
    padding: 100px 50px;
    background: rgb(14, 13, 58);
    position: fixed;
    
}
.navbar-brand img{
    display: block;
}
.navbar-nav{
    float: right;
    padding-left: 50px;
    text-align: right;
    position: fixed;
}
.navbar-nav .nav-link{
    text-align: right;
    color: aliceblue;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 10px;
}
.navbar-nav .nav-link:hover{
    color: #3574d7;
    font-weight: 700;
}*/


/*about us start*/
.clr{
    clear: both;
}
.c-head h1{
    text-align: center;
    font-weight: 800;
    font-size: 62px;
    color: rgb(17, 23, 78);
    position: relative;
    margin-top: 50px;
}
.c-head h2{
    position: absolute;
    color: rgb(155, 155, 155);
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    top: 170px;
    left: 36.5%;
    text-transform: uppercase;
    opacity: 0.2;
    
}
.a-data{
    float: left;
}
.card{
    width: 90%;
    margin:50px 5% 20px;
    float: left;
    height: 150px;
    background: rgb(39, 39, 39);
    box-shadow: 15px solid black;
    color: aliceblue;
}
.card h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.act{
    text-align: center;
    margin-top: 40px;
}
.act h3{
    font-weight: 800;
    font-size: 48px;
    color: rgb(17, 23, 78);
}
.act p{
    margin: 20px 10%;
    line-height: 24px;
    background: rgb(228, 228, 228);
    padding: 20px 10px;
}
.ac-data{
    float: left;
}
.act .card{
    height: 500px;
    background: rgb(175, 175, 175);
    text-align: left;
    
}
.act .card h4{
    background: rgb(36, 36, 36);
    margin: 0;
    padding: 10px;
}
.act .card ul{
    list-style-type: square;
    padding: 10px;
    color: black;
}
.act .card ul li{
    padding: 5px;
}
.history{
    text-align: center;
}
.history h3{
    font-weight: 800;
    font-size: 48px;
    color: rgb(17, 23, 78);
    text-align: center;
    margin-top: 30px;
}
.himage{
    float: left;
}
.himage img{
    display: block;
}
.history p{
    line-height: 24px;
    padding: 20px 10px;
    margin: 150px 10% 30px;
    font-size: 18px;
    text-align: left;
}
.history button{
    text-align: center;
    padding: 10px 30px;
}
/*about us end*/

/*faq part start*/
.faq .card{
    background: rgb(255, 255, 255);
    box-shadow: 10px black;
    color: black;
    height: 500px;
}
.faq .card-body{
    padding: 50px 30px;
}
.faq .card h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.faq .card p{
    font-size: 16px;
    margin-bottom: 10px;
}
/*faq part end*/
